.s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #4e18077e;

  transition: all 0.3s ease-in-out;
}

.s1 :nth-child(3) {
  font-weight: lighter;
  font-size: 1.3rem;
  margin-top: 0rem;
}
.s1 :nth-child(2) {
  font-size: 5rem;
  margin-top: 8rem;
  color: #4e1807a3;
}
.s1 button {
  margin: 1rem;
}
.s1 .img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform: scale(0.9);
  margin-bottom: 2rem;
}

.s1 .img :nth-child(1) {
  filter: drop-shadow(0px 40px 100px rgba(219, 125, 1, 0.275))
    drop-shadow(0px 10px 30px rgba(245, 64, 64, 0.437));
  transition: all 0.3s ease-in-out;
}
.s1 .img :nth-child(2) {
  filter: drop-shadow(0px 40px 100px rgba(244, 28, 143, 0.347))
    drop-shadow(0px 10px 30px rgba(19, 96, 11, 0.195));
  transition: all 0.3s ease-in-out;
}
.s1 .img :nth-child(3) {
  filter: drop-shadow(0px 40px 400px rgba(36, 156, 20, 0.358))
    drop-shadow(0px 10px 30px rgba(28, 177, 57, 0.483));
  transition: all 0.3s ease-in-out;
}
.s1 .c {
  border-radius: 20px;
  border: 2px solid #4e18073b;
  padding: 1rem;
  color: #4e18079e;
  width: 50%;
  margin: 0rem;
  opacity: 80%;
}
.s1 .c p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
.s1 .img :nth-child(1):hover {
  transform: scale(1.2);
}
.s1 .img :nth-child(2):hover {
  transform: scale(1.2);
}
.s1 .img :nth-child(3):hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
  .s1 {
    transform: scale(0.95);
  }
}
@media screen and (max-width: 900px) {
  .s1 .img {
    transform: scale(0.85);
  }
}
@media screen and (max-width: 790px) {
  .s1 .img {
    transform: scale(0.8);
  }
  .s1 :nth-child(2) {
    font-size: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .s1 {
    transform: scale(0.8);
  }

  .s1 .c {
    width: 80%;
  }
}
@media screen and (max-width: 588px) {
  .s1 {
    transform: scale(0.88);
  }
}
@media screen and (max-width: 520px) {
  .s1 {
    transform: scale(0.9);
  }
  .s1 .img :nth-child(1),
  .s1 .img :nth-child(3) {
    display: none;
  }
  .s1 .img :nth-child(2) {
    transform: scale(1.3);
  }
}
@media screen and (max-width: 375px) {
  .s1 {
    transform: scale(0.95);
  }
  .s1 :nth-child(2) {
    font-size: 5rem;
  }

  .s1 .c {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .s1 {
    transform: scale(0.9);
  }
  .s1 :nth-child(2) {
    font-size: 4rem;
  }

  .s1 .c {
    width: 90%;
  }
}
