* {
  margin: 0%;
  scroll-behavior: smooth;
}

a {
  color: #462727e5;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #4e18077e;
  text-decoration: underline;
  transform: scale(1.5);
}

.button {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  padding: 0.7em 1.5em;
  color: white;
  text-align: center;
  font-weight: 500;
  font-family: inherit;
  background-color: #4e18075d;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  border-color: #010106;
  background: linear-gradient(135deg, #4e18077e 0%, #dca378 100%);
}
